.txt {
    font-family: var(--font-lora);
    font-size: 14px;

}

.about {
    font-family: var(--font-poppins);
    text-align: justify;
    font-size: var(--small-font);
}

@media only screen and (min-width: 1024px) {
    .txt {
        font-size: var(--big-font)
    }

    .about {
        font-size: var(--big-font)
    }
}