.maincontainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.artistcontainer {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 0px;
    scroll-behavior: smooth;
    flex-direction: row;
}

.subcontainer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}

.imgcontainer {
    width: 76px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: aqua;
    object-fit: cover;
}

.name {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: var(--small-font);
    color: black;
    text-align: center;
}

.prof {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: var(--small-font);
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}


.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    cursor: pointer;
    border-radius: 100%;
    color: var(--main-color);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.445);
    padding: 10px;
    font-size: 15px;
}

.left {
    left: 1%;
}

.right {
    right: 1%;
}


@media only screen and (min-width: 1024px) {
    .imgcontainer {
        width: 200px;
        aspect-ratio: 1/1;
    }

    .scroll-arrow {

        padding: 20px;
        font-size: 24px;
    }

    .name {
        font-size: 25px;
    }

    .prof {
        font-size: var(--big-font);
    }

    .maincontainer {
        margin-top: 10px;
    }
}