:root {
    --main-color: #865CD0;
    --small-font: 14px;
    --xsmall-font: 12px;
    --big-font: 22px;
    --font-poppins: 'Poppins', sans-serif;
    --font-lora: 'Lora', sans-serif;
}

header {
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    header {
        margin-bottom: 80px;
    }

}

@media only screen and (min-width: 768px) {
    header {
        margin-bottom: 80px;
    }

}