@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.accordion {
    border: none;
    margin-bottom: 10px;
}

.accordion-header {
    padding: 10px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 90%;

}

.accordion-content {
    padding: 10px;
}