@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.body {
    padding: 20px 30px;
    display: flex;
}

.part1 {
    width: 50%;
    height: 800vh;
    display: flex;
    gap: 36px;
    flex-direction: column;
}

.part2 {
    width: 50%;
    height: 100vh;
}

.htext {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.purple {
    color: #865CD0;
}

.imgcon {
    width: 100%;
    height: 400px;
    background-image: url('/ts.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.details {
    background-color: white;
    border-radius: 15px;
    margin-top: -50px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.btncon {
    display: flex;
    gap: 10px;
}

.btntxt {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.seprate {
    display: flex;
    justify-content: space-between;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ftxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.705);
}

.ltxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #865CD0;
    cursor: pointer;
}

.acon {
    padding: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    gap: 36px;
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scontainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.space {
    display: flex;
    gap: 10px;
    align-items: center;
}

.image {
    width: 20px;
    height: 20px;
}

.divider {
    height: 1px;
    background-color: #54545899;
}

.half {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    display: flex;
    align-items: center;
    gap: 10px;
}

.num {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.tandc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terms {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
    color: #000;

}

.profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.profilemain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.profilecon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.namey {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.sub {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.follow {
    padding: 0px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}